body {
	background-color: LightCoral;
}

#logo {
	height: 8em;
	width: 20em;
    margin-top: 1em;
}
#logo a {
	background: url("../img/logo.png") center no-repeat;
	width: 100%;
	height: 100%;
	display: block;
}

#successful_comment { 
	border-radius: 4px;
	text-align: center;
}

#successful_comment p {
	padding: .5rem;
}

#display_comments {
	margin-top: 2em;
}

footer {
    margin-top: 4em;
}